<div class="app-shell">
  <!-- Sidebar -->
  <div *ngIf="mostrarNavBar; else anon">
    <div class="app">
      <aside class="sidebar" *ngIf="mostrarNavBar">
        <div class="brand">
          <img src="Loogo.webp" alt="Logo" />
        </div>

        <nav class="nav">
          <a
            routerLink="/inicio"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="icon">🏠</span><span>Inicio</span>
          </a>

          <a
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
            routerLink="/alquileres"
            routerLinkActive="active"
          >
            <span class="icon">📄</span><span>Alquileres</span>
          </a>

          <a
            routerLink="/propietarios"
            routerLinkActive="active"
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
          >
            <span class="icon">🏡</span><span>Propietarios</span>
          </a>

          <a
            routerLink="/inquilinos"
            routerLinkActive="active"
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
          >
            <span class="icon">👤</span><span>Inquilinos</span>
          </a>
          <a
            routerLink="/movimientos"
            routerLinkActive="active"
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
          >
            <span class="icon">📒</span><span>Movimientos</span>
          </a>
          <a
            routerLink="/propiedades"
            routerLinkActive="active"
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
          >
            <span class="icon">🏘️</span><span>Propiedades</span>
          </a>
          <a
            routerLink="/amoblados"
            routerLinkActive="active"
            *ngIf="currentRole === 'superadmin' || currentRole === 'master'"
          >
            <span class="icon">🗄️</span><span>Amoblados</span>
          </a>
          <a
            routerLink="/administracion"
            routerLinkActive="active"
            *ngIf="currentRole === 'master'"
          >
            <span class="icon">⚙️</span><span>Admin</span>
          </a>
        </nav>

        <div class="grow"></div>

        <button class="logout" type="button" (click)="onLogout()">
          <span class="icon">↩️</span><span>Salir</span>
        </button>
      </aside>

      <main class="main">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</div>
<ng-template #anon>
  <main class="no-shell">
    <router-outlet></router-outlet>
  </main>
</ng-template>
